@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html,
body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
  font-size: large;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  background-image: url(/images/element-showcase.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.showcase .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.showcase .container h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 56px;
}
@media (max-width: 500px) {
  .showcase .container h1 {
    font-size: 45px;
  }
}

.contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 90px;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 770px) {
  .contact .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.contact .container .contact-box {
  border: 1px solid #d3d2c8;
  padding-top: 20px;
  padding-left: 80px;
}
@media (max-width: 1200px) {
  .contact .container .contact-box {
    padding-left: 40px;
  }
}
.contact .container .contact-box .icon {
  width: 50px;
  height: 50px;
  background-color: #191919;
  color: #F0EFE9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.contact .container .contact-box b {
  padding-left: 10px;
  font-size: 18px;
}
.contact .container .contact-box p {
  padding-left: 65px;
}

.messages {
  background-color: #F0EFE9;
}
.messages .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  padding-top: 90px;
}
.messages .container form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  padding: 15px 30px;
  margin-top: 16px;
}
.messages .container form input {
  background-color: transparent;
  width: 100%;
  border: none;
  outline: none;
}
.messages .container .box-3 {
  padding-bottom: 120px;
  margin-bottom: 16px;
}
.messages .container h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  padding-left: 420px;
  padding-right: 420px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1300px) {
  .messages .container h2 {
    padding-left: 350px;
    padding-right: 350px;
  }
}
@media (max-width: 1200px) {
  .messages .container h2 {
    padding-left: 250px;
    padding-right: 250px;
  }
}
@media (max-width: 990px) {
  .messages .container h2 {
    padding-left: 0px;
    padding-right: 150px;
  }
}
@media (max-width: 520px) {
  .messages .container h2 {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 35px;
  }
}
.messages .container a {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  iframe {
    width: 100%;
    height: 350px;
  }
}

footer {
  background-color: #0E1021;
}
footer .footer-menu {
  background-image: url(/images/element-footer.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
footer .footer-menu .container {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}
footer .footer-menu .container .menu {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 1100px) {
  footer .footer-menu .container .menu {
    padding-left: 20px;
  }
}
footer .footer-menu .container .menu .item {
  padding-top: 0px;
  padding-bottom: 40px;
}
footer .footer-menu .container .menu p {
  font-size: 16px;
  padding-top: 30px;
}
footer .footer-menu .container .menu h4 {
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: bold;
}
@media (min-width: 750px) {
  footer .footer-menu .container .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-menu .container .menu .item-1 {
    grid-column: 1/3;
  }
}
@media (min-width: 1100px) {
  footer .footer-menu .container .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  footer .footer-menu .container .menu .item {
    text-align: left;
  }
  footer .footer-menu .container .menu .item-1 {
    grid-column: 1/3;
  }
  footer .footer-menu .container .menu .item-2 {
    grid-column: 3/4;
  }
  footer .footer-menu .container .menu .item-3 {
    grid-column: 4/5;
  }
  footer .footer-menu .container .menu .item-4 {
    grid-column: 5/6;
  }
  footer .footer-menu .container .menu .item-5 {
    grid-column: 6/7;
  }
  footer .footer-menu .container .menu p {
    font-size: 16px;
    padding-top: 30px;
  }
  footer .footer-menu .container .menu h4 {
    padding-bottom: 20px;
    padding-top: 0px;
    font-weight: bold;
  }
}
footer .footer-menu .container .menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding-top: 10px;
  font-weight: 500;
}
footer .footer-menu .container .menu a:hover {
  text-decoration: underline;
}
footer .main-footer {
  border-top: 1px solid #DAD9D3;
}
footer .main-footer .container {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .main-footer .container span {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  footer .main-footer .container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
}
footer .main-footer .container .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
@media (min-width: 800px) {
  footer .main-footer .container .social-media {
    display: flex;
    justify-content: right;
    padding-top: 0px;
  }
}
footer .main-footer .container .social-media a {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-left: 10px;
}
footer .main-footer .container .social-media a:hover {
  color: #7c7c7c;
  font-size: large;
}