@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html,
body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-black:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
}

.btn-round {
  width: 50px;
  height: 50px;
  background: transparent;
  color: #191919;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #191919;
  text-decoration: none;
}
.btn-round:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
  font-size: large;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.brands .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands .container img {
  width: 100px;
}
@media (min-width: 1000px) {
  .brands .container {
    display: flex;
    justify-content: space-around;
  }
  .brands .container img {
    width: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.features .container {
  border: 2px solid #DAD9D3;
  text-align: center;
}
@media (min-width: 1200px) {
  .features .container {
    text-align: left;
  }
}
.features .container .features-box {
  padding-right: 10px;
}
@media (min-width: 1200px) {
  .features .container .features-box {
    display: flex;
  }
}
.features .container .features-box .section-title {
  padding-left: 60px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.features .container .features-box a {
  display: flex;
  justify-content: center;
}
.features .container .features-box h2 {
  padding-bottom: 40px;
}
.features .container .features-box h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.features .container .features-box a {
  padding-left: 40px;
  padding-right: 40px;
}
.features .container .features-box img {
  padding-bottom: 1rem;
}
.features .container .features-box .grid-box {
  display: grid;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
  grid-template-columns: 1fr;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 120px;
}
.features .container .features-box .grid-box .box {
  padding-top: 30px;
}
@media (min-width: 1200px) {
  .features .container .features-box .grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 100px;
    padding-top: 120px;
  }
}

.about-company .container {
  padding-bottom: 120px;
  text-align: center;
}
@media (min-width: 1400px) {
  .about-company .container {
    display: flex;
    text-align: left;
  }
}
.about-company .container .parent {
  position: relative;
  top: 0;
  left: 0;
}
.about-company .container .parent .founder {
  min-width: 533px;
  padding-top: 120px;
  padding-left: 90px;
  position: relative;
  top: 0;
  left: 0;
}
.about-company .container .parent .founderquotes {
  position: absolute;
  top: 475px;
  left: -25px;
}
.about-company .container .text-section {
  padding-right: 90px;
  padding-left: 90px;
}
.about-company .container .text-section .section-title {
  padding-bottom: 40px;
}
.about-company .container .text-section .btn-section {
  padding-top: 90px;
}
.about-company .container .text-section .btn-section .btn-black {
  margin-right: 30px;
  display: block;
}
@media (min-width: 800px) {
  .about-company .container .text-section .btn-section .btn-black {
    display: inline;
  }
}
.about-company .container .text-section .btn-section .intro-video {
  display: inline;
  margin-left: 8px;
}

.our-services {
  background-color: #F0EFE9;
}
.our-services .container {
  padding-bottom: 120px;
  text-align: center;
}
@media (min-width: 1400px) {
  .our-services .container {
    text-align: left;
  }
  .our-services .container .section-title {
    padding-right: 800px;
  }
}
.our-services .container .btn-transparent {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.our-services .container .box-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.our-services .container .box-section .box-item {
  background-color: #FFFFFF;
  color: #191919;
  text-decoration: none;
  text-align: left;
  min-width: 250px;
  max-width: 300px;
}
.our-services .container .box-section .box-item .topline {
  padding-top: 40px;
}
.our-services .container .box-section .box-item h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding-top: 30px;
  padding-left: 20px;
}
.our-services .container .box-section .box-item p {
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.our-services .container .box-section .box-item .btn-round {
  color: #F0EFE9;
  background-color: #191919;
}
.our-services .container .box-section .box-item .end-content {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 40px;
}
.our-services .container .box-section .box-item:hover {
  background-color: #F9D783;
}
.our-services .container .box-section .box-item:hover .btn-round {
  color: #191919;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.why-choose-us .container {
  display: flex;
}
.why-choose-us .container .main-box {
  padding-right: 0px;
}
.why-choose-us .container .main-box .section-title {
  padding-bottom: 20px;
}
.why-choose-us .container .main-box h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.why-choose-us .container .main-box .box-item {
  display: flex;
  padding-top: 20px;
}
.why-choose-us .container .main-box .icon-image {
  padding-right: 30px;
}
.why-choose-us .container .parent {
  position: relative;
  top: 0;
  left: 0;
}
.why-choose-us .container .parent .image-background {
  position: relative;
  top: 350px;
  right: -80px;
  max-width: 900px;
  z-index: -1;
  overflow: visible;
}
.why-choose-us .container .parent .image-meeting {
  position: absolute;
  top: 120px;
  left: 180px;
  padding-top: 10px;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 13px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px 15px;
  margin-right: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-team {
  background-color: #F9D783;
}
.meet-our-team .container .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meet-our-team .container .image-section {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding-bottom: 90px;
}
.meet-our-team .container .image-section .team-member img {
  max-width: 100%;
  height: auto;
}
.meet-our-team .container .image-section .team-member h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
}

.testimonial .white-box {
  padding: 90px;
  background-color: #F9D783;
}
.testimonial .white-box .container {
  background-color: #FFFFFF;
  max-width: 1500px;
}
.testimonial .white-box .container .section-title {
  text-align: center;
}
.testimonial .white-box .container .comments {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  gap: 100px;
}
.testimonial .white-box .container .comments .comment-box {
  padding-bottom: 15px;
}
.testimonial .white-box .container .comments .comment-box .stars {
  padding-bottom: 20px;
}
.testimonial .white-box .container .comments .section-title {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 15px;
  text-align: left;
}
.testimonial .white-box .container .comments .section-title h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0px;
}
.testimonial .white-box .container .comments .clients {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.testimonial .white-box .container .comments .clients p {
  margin-bottom: 0px;
}
.testimonial .white-box .container .center-content {
  padding-top: 90px;
  padding-bottom: 90px;
}

.article-and-news .container {
  text-align: center;
}
@media (min-width: 1400px) {
  .article-and-news .container {
    text-align: left;
  }
}
.article-and-news .container .section-title {
  justify-content: space-between;
  align-items: center;
}
.article-and-news .container .section-title .browse-button {
  padding-top: 40px;
}
@media (min-width: 1400px) {
  .article-and-news .container .section-title {
    display: flex;
  }
  .article-and-news .container .section-title .browse-button {
    padding-top: 0px;
  }
}
.article-and-news .container .articles {
  gap: 2rem;
  padding-bottom: 90px;
}
.article-and-news .container .articles .image-box {
  position: relative;
  top: 0;
  left: 0;
}
.article-and-news .container .articles .image-box img {
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: visible;
  padding-bottom: 10px;
}
.article-and-news .container .articles .image-box .yellow-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #F9D783;
  width: 65px;
  height: 70px;
  text-align: center;
}
.article-and-news .container .articles .image-box .yellow-box h3 {
  margin: 0px;
  padding-top: 10px;
}
.article-and-news .container .articles .image-box .yellow-box p {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}
.article-and-news .container .articles h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 15px;
}
.article-and-news .container .articles p {
  padding-top: 10px;
}
@media (min-width: 1400px) {
  .article-and-news .container .articles {
    display: flex;
  }
}

.subscribe {
  background-color: #F0EFE9;
  background-image: url(/images/element-subscribe.svg);
  background-repeat: no-repeat;
  background-position: 100% 70%;
}
.subscribe .container {
  padding-top: 120px;
  padding-bottom: 90px;
  text-align: center;
}
.subscribe .container h3 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding-right: 0px;
  padding-bottom: 40px;
}
.subscribe .container input {
  border: 1px solid #191919;
  color: #191919;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.subscribe .container a {
  display: flex;
  align-items: center;
}
.subscribe .container .center-content {
  padding-top: 40px;
}
@media (min-width: 1400px) {
  .subscribe .container {
    display: flex;
    gap: 20px;
  }
  .subscribe .container h3 {
    padding-right: 160px;
    padding-bottom: 0px;
  }
  .subscribe .container .center-content {
    padding-top: 0px;
  }
}

footer {
  background-color: #0E1021;
}
footer .footer-menu {
  background-image: url(/images/element-footer.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
footer .footer-menu .container {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}
footer .footer-menu .container .menu {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-menu .container .menu .item {
  text-align: center;
}
footer .footer-menu .container .menu p {
  font-size: 16px;
  padding-top: 30px;
}
footer .footer-menu .container .menu h4 {
  padding-bottom: 0px;
  padding-top: 20px;
  font-weight: bold;
}
@media (min-width: 995px) {
  footer .footer-menu .container .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .footer-menu .container .menu .item-1 {
    grid-column: 1/3;
  }
}
@media (min-width: 1400px) {
  footer .footer-menu .container .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3rem;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  footer .footer-menu .container .menu .item {
    text-align: left;
  }
  footer .footer-menu .container .menu .item-1 {
    grid-column: 1/3;
  }
  footer .footer-menu .container .menu .item-2 {
    grid-column: 3/4;
  }
  footer .footer-menu .container .menu .item-3 {
    grid-column: 4/5;
  }
  footer .footer-menu .container .menu .item-4 {
    grid-column: 5/6;
  }
  footer .footer-menu .container .menu .item-5 {
    grid-column: 6/7;
  }
  footer .footer-menu .container .menu p {
    font-size: 16px;
    padding-top: 30px;
  }
  footer .footer-menu .container .menu h4 {
    padding-bottom: 20px;
    padding-top: 0px;
    font-weight: bold;
  }
}
footer .footer-menu .container .menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding-top: 10px;
  font-weight: 500;
}
footer .footer-menu .container .menu a:hover {
  text-decoration: underline;
}
footer .main-footer {
  border-top: 1px solid #DAD9D3;
}
footer .main-footer .container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  padding-bottom: 16px;
}
footer .main-footer .container .social-media a {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-left: 10px;
}
footer .main-footer .container .social-media a:hover {
  color: #7c7c7c;
  font-size: large;
}