@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html,
body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9rem;
}
.btn-black:hover {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
}

.btn-round {
  width: 50px;
  height: 50px;
  background: transparent;
  color: #191919;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #191919;
  text-decoration: none;
}
.btn-round:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

header {
  background-color: #F0EFE9;
  display: flex;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
  font-size: large;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 86px;
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.showcase .container .content a {
  margin-right: 10px;
}
.showcase .container img {
  margin-right: -50px;
}

.companies .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.companies .container img {
  width: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.features .container {
  border: 2px solid #DAD9D3;
}
.features .container .features-box {
  display: flex;
  padding: 40px;
}
.features .container .features-box a {
  display: flex;
  justify-content: center;
}
.features .container .features-box h3 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 40px;
}
.features .container .features-box h4 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.features .container .features-box .red-text {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.features .container .features-box p {
  color: #191919;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.features .container .features-box a {
  padding-left: 40px;
  padding-right: 40px;
}
.features .container .features-box img {
  padding-bottom: 1rem;
}
.features .container .features-box .grid-box {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
  padding-left: 100px;
  padding-right: 40px;
}

.about-company .container {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}
.about-company .container .box-item {
  padding-left: 40px;
  padding-right: 40px;
}
.about-company .container .box-item img {
  max-width: 533px;
}
.about-company .container .box-item .red-text {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.about-company .container .box-item h3 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 30px;
}
.about-company .container .box-item p {
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.about-company .container .box-item .btn-section {
  padding-top: 100px;
}
.about-company .container .box-item .btn-section .btn-black {
  margin-right: 30px;
}
.about-company .container .box-item .btn-section .intro-video {
  display: inline;
  margin-left: 8px;
}

.our-services {
  background-color: #F0EFE9;
}
.our-services .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.our-services .container .btn-transparent {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.our-services .container .red-text {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.our-services .container h3 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 30px;
}
.our-services .container .box-section {
  display: flex;
  gap: 1rem;
}
.our-services .container .box-section .box-item {
  background-color: #FFFFFF;
}
.our-services .container .box-section .box-item h4 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.our-services .container .box-section .box-item p {
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.our-services .container .box-section .box-item .btn-round {
  color: #F0EFE9;
  background-color: #191919;
}

.why-choose-us .container {
  display: flex;
}
.why-choose-us .container .main-box {
  padding: 40px;
}
.why-choose-us .container .main-box .box-item {
  display: flex;
  padding-top: 10px;
}
.why-choose-us .container .main-box .image-meeting {
  padding-top: 40px;
}

.subscribe {
  background-color: #F0EFE9;
}
.subscribe .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.subscribe .container h3 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

footer {
  background-color: #0E1021;
}
footer .container {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}
footer .container .footer-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 60px;
}
footer .container .footer-menu p {
  font-size: 16px;
  padding-top: 30px;
}
footer .container .footer-menu h4 {
  padding-bottom: 20px;
  font-weight: bold;
}
footer .container .footer-menu a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding-top: 10px;
  font-weight: 500;
}
footer .container .footer-menu a:hover {
  color: #7c7c7c;
  text-decoration: underline;
}
footer .container .footer-menu .content-box {
  flex: 1;
}
footer .container .footer-menu .first {
  flex: 2;
  margin-top: -10px;
}
footer .container .footer-menu .last {
  padding-left: 80px;
}
footer .main-footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  padding-bottom: 16px;
  border-top: 1px solid #DAD9D3;
}
footer .main-footer span {
  padding-left: 125px;
}
footer .main-footer .social-media {
  padding-right: 125px;
}
footer .main-footer .social-media a {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-left: 10px;
}
footer .main-footer .social-media a:hover {
  color: #7c7c7c;
  font-size: large;
}